
<h1 id='main-title'>Breweries</h1>

  <div id='list-of-brews'>
    <% @breweries.each do |brewery| %>
      
      <div class='brew-square' id='<%= brewery.id %>'>
        <header class='brew-name'><%= brewery.name %></header>
        <img src="<%= brewery.photo %> " height="200px" width="200px">
      </div>
    
    <% end %>
  </div>
  

<div id="myModal" class="modal">
  

  <div class="modal-content">
    <span class="close">&times;</span> 
    <div height="50px">
      <header class='show-name'></header>
    </div>
    <!-- FIRST DIV WITH PICTURE -->
    <div class="brew-details">
      <nav class='links'>
        <a id="twitter-link" href="">Twitter</a>
        <a id="facebook-link" href="">Facebook</a>
        <a id="instagram-link" href="">Instagram</a>
        <a id='website-link' href="">Website</a></nav>
      <br>
      <img src="" height="420px" width="420px" class="show-photo">
      <p class='show-description'></p>
    </div>  

    <!-- SECOND DIV WITH LOCATIONS -->
    <div class='show-details'>
      <h2> Locations </h2>
      <!-- <div class="show-locations">
      </div> -->
    </div>

    <!-- THIRD DIV WITH EVENTS -->
    <div class='event-details'>
      <h2> Events </h2>
    </div>

  </div>

</div>


