// Place all the styles related to the breweries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.brew-square {
	width:200px;
	height: 250px;
	background-color:white;
	margin: 22px;
	display: inline-block;
	text-align: center;
	border-radius: 3px;
	box-shadow: 3px 3px 2px grey;
}

#list-of-brews {
	margin: auto;
	width: 1000px;
	
}

.brew-name {
	height: 40px;
	font-size: 18px;
	background-color: #f2f7ff;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-left: 2px;
	padding-right: 2px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

#main-title {
	text-align: center
}







/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    height: 600px;
    width: 1111px;

}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.brew-square:hover,
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}


.show-name {
	font-size: 20px;
	margin-left: 20px;
	margin-bottom: 50px
}


.links {
	font-size: 14px;
	margin-left: 20px;	
}

.brew-details {
	height: 575px;
	display: inline-block;
	float: left;
}

.show-details {
	margin-left: 20px;
	display: inline-block;
	width: 600px;
	float: right;
	/*height: 575px;*/
}

.l-name {
	font-size: 18px;
}